<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:font-style="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<p><h4> Dear <span th:text="${name}"> </span>,</h4></p>

<!--<p>-->
<!--Thank you! Order Confirmed.-->
<!--Below is your order information-->
<!--</p>-->
<p>We are unable to meet your order for Item :<b><span th:text="${productName}"></span></b> at this time as the designer is currently out of stock or over whelmed
    with orders from many other customers.
</p>
<p>
    You may
    •	Please kindly check other retailer’s store for similar designs here
    •	Wait & obtain the designer available time
    •	Request a refund here

</p>

<p>
    We are so sorry for any inconveniences this might cause. For inquiries and any other information,
    please contact 081******** or send us a mail at <span style="color: blue">customercare@wawooh.com</span>

</p>



<br/>
<p font-style="italic">
    Powered By Longbridge Technologies
</p>

</body>
</html>