<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:font-style="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<p><h4> Dear <span th:text="${name}"> </span>,</h4></p>

<p>
    I don't have a  email content for designer orders yet
    I have requested for content from the business team
</p>
<p>
    someone just made an order bla bla bla
</p>

<p>
    Product Name :<b><span th:text="${productName}"></span></b>
</p>

<br/>

<p>
    <!--<b>Wawooh</b> <span font-style="italic">Get inspired, Stay Updated and Find best prices for creative designs, fabrics and styles </span>- -->
</p>

<br/>
<p style="color: red; font-family: Verdana">
    <!--Follow us on social media and read our blog!-->
</p>

<br/>
<p>
    Thank you,
    <br/>
    Team Wawooh
</p>



</body>
</html>