<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:font-style="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<p><h4> Dear <span th:text="${name}"> </span>,</h4></p>

<p>
    You have received a new order on your Wawooh Store for product <b><span th:text="${productName}"></span></b>.
    Here is what you should do.

</p>
<p>
    1.  Logon into your seller dashboard to Accept order now. We encourage you to confirm order availability in the shortest possible time Like Now! Now!.
    2.	Drop-off or Ship the order to our Quality Assurance & Delivery Hub nearest to you.

</p>

<br/>

<p>
    Product Accuracy, Quality & Delivery Timelines are of utmost importance to your customers, please kindly ensure orders are genuine, timely and done according to specifications.

</p>


<br/>

<p>
    <!--<b>Wawooh</b> <span font-style="italic">Get inspired, Stay Updated and Find best prices for creative designs, fabrics and styles </span>- -->
</p>

<br/>
<p style="color: red; font-family: Verdana">
    If you have any Questions contact or call us at 0803**********

</p>

<br/>
<p>
    Thank you,
    <br/>
    Team Wawooh
</p>



</body>
</html>