<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:font-style="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<div style= "width: 85%; margin: 16px auto 0; border: 1px solid rgba(0,0,0,0.2); height: auto;">
    <div style = "padding: 15px;text-align: center;">
        <img style = "width: 100px; background-size: contain;" src="http://wawooh.com/img/logo.png" alt="wawooh-logo"/></div>
    <div style = "padding: 15px; margin: 15px 10px 0;">
        <h4> Hi,</h4>
        <p style = "line-height: 25px; font-size: 1em; color: #333;">
            A designer just signed up!
        </p>

        <p style = "line-height: 25px; font-size: 1em; color: #333;">
            Store Name:  <b><span th:text="${storename}"></span></b>
            Phone Number: <b><span th:text="${phonenumber}"></span></b>
        </p>


    </div>

    <div style = "color: #fff;margin-top: 10px; background: #cd9933; padding: 7px; text-align: center;">
        <span>Powered By Wawooh Dev Team</span>
    </div>
</div>
</body>
</html>