<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:font-style="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<p><h4> Dear <span th:text="${name}"> </span>,</h4></p>

<p>
    Thank you for your purchase, your order with OrderNumber :<b><span th:text="${orderNum}"></span></b> has been confirmed.
    Here is what to expect: Our Quality Assurance Team will validate item quality and then ship to you within 24 - 72hours.

</p>


<p>
    You can track your order status <a href="#" style="color:firebrick;">here</a>

</p>

<p>Thank you for shopping on Wawooh. If you have any questions please contact or call us at 0803**********

</p>


<br/>
<p font-style="italic">
    Powered By Wawooh
</p>

</body>
</html>