<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:font-style="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<div style="width: 85%; margin: 16px auto 0; border: 1px solid rgba(0,0,0,0.2); height: auto;">
    <div style="padding: 15px;text-align: center;">
        <img style="width: 100px; background-size: contain;" src="http://wawooh.com/img/logo.png" alt="wawooh-logo"/></div>
    <div style="padding: 15px; margin: 15px 10px 0;">
        <h4> Dear <span th:text="${name}"> </span>,</h4>
        <p style="line-height: 25px; font-size: 1em; color: #333;">
            <b><a href="http://www.wawooh.com">WAWOOH</a>,YOU DID IT!</b> NOW YOU CAN SLAY IT JUST THE WAY YOU WANT IT
            <br/>
            To perfectly suit you, we have engineered a solution that puts power in your hands as
            a fashion lover by enabling you input custom measurements for bespoke or ready-to-wear
            apparels through our web and mobile solution.
        </p>

        <p style="line-height: 25px; font-size: 1em; color: #333;">So why don’t you get started on exploring our site. To really maximize the usage of this platform,
            you should visit our events’ page and enjoy the beautiful style inspiration we have curated for you.
            All it takes to shop these creations of the body of celebrities is just a click,
            <a href="http://www.wawooh.com/fashion">SHOP</a> and in your leisure time, be sure to scroll through our digital magazine that promises much
            visual and content satisfaction across fashion, beauty and lifestyle.
        </p>

        <p>
           We look forward to helping you <b>Wawooh</b><span font-style="italic">(Express you...)</span>
        </p>



        <p style="line-height: 25px; font-size: 1em; color: #333; clear: both;">High 5,
            <br/> Wawooh Team
        </p>

        <div style="color: red; font-family: Verdana">
            Follow us on social media and read our blog!
            <ul style = "list-style: none; padding: 0;">
                <li><a style = "float: left; margin: 5px; text-decoration: none; border-radius: 50px;   font-family: FontAwesome; padding: 5px 6px;    background: #fff; border: 1px solid #3b5999;    color: #fff;" href=""><img src="http://www.wawooh.com/img/facebook.png" style = "width: 15px; height: 13px; background-size: contain;" alt="f" /></a></li>

                <li><a style = "float: left; margin: 5px; text-decoration: none; border-radius: 50px;   font-family: FontAwesome; padding: 5px 6px;    background: #fff; border: 1px solid #55acee;  color: #fff;" href=""><img src="http://www.wawooh.com/img/twitter.png" alt="t" style = "width: 15px; height: 13px; background-size: contain;"/></a></li>

                <li><a style = "float: left; margin: 5px; text-decoration: none; border-radius: 50px;   font-family: FontAwesome; padding: 5px 6px;    background: #fff; border: 1px solid #66cdaa;  color: #fff;" href=""><img src="http://www.wawooh.com/img/medium.png" alt="m" style = "width: 15px; height: 13px; background-size: contain;"/></a></li>

                <li><a style = "float: left; margin: 5px; text-decoration: none; border-radius: 50px;   font-family: FontAwesome; padding: 5px 6px;    background: #fff; border: 1px solid #e4405f;  color: #fff;" href=""><img src="http://www.wawooh.com/img/instagram.png" alt="I" style = "width: 15px; height: 13px; background-size: contain;"/></a></li>
            </ul>
        </div>

    </div>
    <div style="color: #fff;margin-top: 10px; background: #cd9933; padding: 7px; text-align: center; font-style: italic;">
        <span>Powered By Wawooh</span>
    </div>
</div>
</body>
</html>